/*Mobile View CSS Settings*/
h1{
    font-size: 5rem;
}

.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl, .mapboxgl-ctrl-geocoder--input{
    width: 50rem !important;
    height: 7rem !important;
    max-width: 50rem !important;
    font-size: 3rem;
    }


/*Scrolling through attractions*/
#topdown{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.insideOut {
    /*float: left;*/
    max-width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
}

.insideOut > pictureControl {
    margin-bottom: .75rem;
    width: 100%;
}

.detail-text {
    font-size: 85%;
}

/* End of Scrolling through attractions*/

/************************************************************************************************/


/*login View*/
body, html{
    letter-spacing:2px;
    font-weight: 100;
    height: 100%;

}

.form-control{
    width:30%;
    margin-bottom:20px;
    margin-left:10px;
    background: rgba(255, 255, 255, 0.40);
}
.form-control:focus {
    border: solid #f25a3f;
    box-shadow: 15px 15px 25px black;
}

.random-line{
    height: 5px;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}


.login-form h1{
    font-size:2em;
    color:#fff;
    font-weight:800;
    text-transform:uppercase;
    text-align:center;
    margin-bottom:2em;
}


.top-login {
    width: 130px;
    height: 130px;
    display: block;
    margin: 0 auto 4em;
    background: #fff;
    position: relative;
}
.top-login span{
    border: 2px solid #f25a3f;
    width: 105px;
    height: 105px;
    display: block;
    margin: 0px auto;
    position: absolute;
    top: 11px;
    left: 11px;
}
.top-login span img {
    margin: 20px 0 0 20px;
}

#box{
    background:white;
    border:2px #f35b3f;
    box-shadow:3px 3px 10px ;
    border-radius: 10px;
    animation:exam 1s linear alternate;

}

.login-logo{
    height: 101px;
    width: 101px;
    position: absolute;
    top: -20px;
    left: -20px;
}

.login-top{
    width: 460px;
    display: block;
    margin: 0 auto;
}
.login-ic {
    background: rgba(255, 255, 255, 0.32);
    margin-bottom:1.5em;
    padding: 8px;
}
.login-ic i {
    background: url("../assets/icons8-user-30.png")no-repeat 6px 6px;
    width: 38px;
    height: 38px;
    float: left;
    display: inline-block;
}
.login-ic i.icon {
    background: url(".././assets/icons8-lock-30.png")no-repeat 6px 6px;
}

.login-ic input[type="text"],.login-ic  input[type="password"] {
    /*float: left;*/
    background: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-left: 1px solid #fff;
    width: 82%;
    display: inline-block;
    margin-left: 7px;
}
.log-bwn {
    text-align: center;
}
.log-bwn input[type="submit"] {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 13px 0;
    background: #f25a3f;
    display: inline-block;
    width: 100%;
    outline:none;
    border:2px solid #f25a3f;
    cursor:pointer;
    text-transform:uppercase;
}
.log-bwn input[type="submit"]:hover{
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border:2px solid #fff;
}






/*Login In View End*/

/************************************************************************************************/

/* Navbar Start*/

.wrapper {
    display: block;
}

/***** Sidebar *****/

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -255px;
    z-index: 999;
    background: #333;
    color: #fff;
    transition: all .3s;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    text-align: left;
}

.sidebar.active {
    left: 0;
}

/***** Content *****/

.content {
    width: 100%;
    transition: all 0.3s;
}

/***** Dark overlay *****/

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(51, 51, 51, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

.open-menu {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 997;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

.open-menu.btn-customized,
.open-menu.btn-customized:hover,
.open-menu.btn-customized:active,
.open-menu.btn-customized:focus,
.open-menu.btn-customized:active:focus,
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

/* Style for all buttons with the class btn-customized */

a.btn-customized {
    margin-left: 5px;
    margin-right: 5px;
    padding: .75rem 1.5rem;
    background: #f35b3f;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
}

a.btn-customized:hover,
a.btn-customized:active,
a.btn-customized:focus,
a.btn-customized:active:focus,
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #cd533d; /* for browsers that don't recognize rgba */
    background: rgba(243, 91, 63, 0.7);
    border: 0;
    color: #fff;
    box-shadow: none;
}

/* close btn */

.dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all .3s;
    background: #444;
    border-radius: 4px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.dismiss:hover,
.dismiss:focus {
    background: #555;
    color: #fff;
}


/* logo */

.sidebar .logo {
    padding: 40px 20px;
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.sidebar .logo a {
    display: inline-block;
    width: 172px;
    height: 34px;
    background: left top no-repeat;
    border: 0;
    text-indent: -999999px;
}


/* menu links */
.sidebar ul.menu-elements {
    padding: 10px 0;
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    border: 0;
    color: #fff;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus {
    outline: 0;
    background: #555;
    color: #fff;
}

.sidebar ul li a i {
    margin-right: 5px;
}

.sidebar ul li.active > a,
a[aria-expanded="true"] {
    background: #444;
    color: #fff;
}

.sidebar ul ul a {
    background: #444;
    padding-left: 30px;
    font-size: 14px;
}

.sidebar ul ul li.active > a {
    background: #555;
}

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


/* to top btn */

.sidebar .to-top {
    padding: 20px;
    text-align: center;
}

a.btn-customized-3 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: .75rem 1.5rem;
    background: #444;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
}

a.btn-customized-3:hover,
a.btn-customized-3:active,
a.btn-customized-3:focus,
a.btn-customized-3:active:focus,
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #555;
    border: 0;
    color: #fff;
    box-shadow: none;
}

a.btn-customized-3 i {
    margin-right: 5px;
}


/* light/dark btn */


.sidebar .dark-light-buttons {
    padding: 10px 20px 30px 20px;
    text-align: center;
}

a.btn-customized-4 {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    padding: 0;
    background: #444;
    border: 0;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
    text-indent: -999999px;
}

a.btn-customized-4.btn-customized-dark {
    background: #222;
}

a.btn-customized-4.btn-customized-light {
    background: #fff;
}

a.btn-customized-4.btn-customized-dark:hover,
a.btn-customized-4.btn-customized-dark:active,
a.btn-customized-4.btn-customized-dark:focus,
a.btn-customized-4.btn-customized-dark:active:focus,
a.btn-customized-4.btn-customized-dark.active:focus,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #555;
    border: 0;
    color: #fff;
    box-shadow: none;
}

a.btn-customized-4.btn-customized-light:hover,
a.btn-customized-4.btn-customized-light:active,
a.btn-customized-4.btn-customized-light:focus,
a.btn-customized-4.btn-customized-light:active:focus,
a.btn-customized-4.btn-customized-light.active:focus,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #555;
    border: 0;
    color: #fff;
    box-shadow: none;
}

/* Navbar End */


/***************************** Home.js **********************************/

.home-content { width: 100%; padding: 60px 0 120px 0; }

.home-content h1 { padding-top: 60px; color: #000000; }

.home-content .description {
    margin: 30px 0 0 0;
    padding-bottom: 30px;
    font-size: 3rem;
}

.home-img {
    background-image: url("../assets/blonde-1867768_1920.jpg");
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}


.mapboxgl-ctrl-geocoder--input{background-color: #444444;}
.mapboxgl-ctrl-geocoder--input::placeholder{color: #ffffff;}
.mapboxgl-ctrl-geocoder--input:focus {color: #ffffff;}

/****************************** TRIPTRACK ********************************/
/****************************** START FOOTER ********************************/

.animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #f96742; }

.animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #EEF0EF;
    border-right: 10px solid #EEF0EF;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px); }
    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px); } }

@keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px); }
    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px); } }

.animate-border.border-white:after {
    border-color: #fff; }

.animate-border.border-yellow:after {
    border-color: #F5B02E; }

.animate-border.border-orange:after {
    border-right-color: #007bff;
    border-left-color: #007bff; }

.animate-border.border-ash:after {
    border-right-color: #EEF0EF;
    border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
    border-right-color: #F7F9F8;
    border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
    0% {
        width: 15%; }
    50% {
        width: 90%; }
    100% {
        width: 10%; } }

@keyframes primary-long {
    0% {
        width: 80%; }
    50% {
        width: 0%; }
    100% {
        width: 80%; } }

.dk-footer-form button:hover {
    cursor: pointer; }

/* ==========================

    Contact

=============================*/

.copyright {
    padding: 28px 0;
    background-color: #202020; }
.copyright span,
.copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
.copyright a:hover {
    color:#007bff; }

.copyright-menu ul {
    text-align: right;
    margin: 0; }

.copyright-menu li {
    display: inline-block;
    padding-left: 20px; }

.back-to-top .btn-dark:hover {
    cursor: pointer;
    background: #FA6742;
    border-color: #FA6742; }

.btn-info {
    color: #EEF0EF;
    background-color: #FA6742;
    border-color: #FA6742;
}

.register-btn {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 13px 0;
    background: #f25a3f;
    display: inline-block;
    width: 10%;
    outline:none;
    border:2px solid #f25a3f;
    cursor:pointer;
    text-transform:uppercase;
}

.register-btn:hover {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border:2px solid #fff;
}

.addevent-btn {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 13px 0;
    background: #f25a3f;
    display: inline-block;
    width: 10%;
    outline:none;
    border:2px solid #f25a3f;
    cursor:pointer;
    text-transform:uppercase;
}

.addevent-btn:hover {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border:2px solid #fff;
}
/* Credit to https://bootsnipp.com/snippets/ooa9M  */

/****************************** END FOOTER ********************************/


/****************************** Start FAb ********************************/



/****************************** End FAb ********************************/
