/*Mobile View CSS Settings*/
h1{
    font-size: 5rem;
}

/*#geocoder-container{*/
/*        height: 7rem !important;*/
/*    }*/

.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl, .mapboxgl-ctrl-geocoder--input{
    width: 50rem !important;
    height: 7rem !important;
    max-width: 50rem !important;
    font-size: 3rem;
    }


/*Scrolling through attractions*/
#topdown{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#insideOut {
    /*float: left;*/
    max-width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
}

.insideOut > pictureControl {
    margin-bottom: .75rem;
    width: 100%;
}

.detail-text {
    font-size: 85%;
}

/* End of Scrolling through attractions*/

/************************************************************************************************/


/*login View*/
body, html{
    letter-spacing:2px;
    font-weight: 100;
    height: 100%;

}

#title{
    color:#000000;
    /*width:50%;*/
    /*height:35px;*/
    font-size:25px;
    box-shadow:15px 15px 25px black;
    background:#f25a3f;
    animation:example 1s linear alternate;
}
@keyframes example {
    100%{
        transform:translate3d(0px,0px,0px);
    }


    0%{
        transform:translate3d(210px,0px,0px);
    }

}


.form-control{
    width:30%;
    border-bottom:15px;
    border: solid #f25a3f;
    box-shadow:9px 9px 25px black;
    margin-bottom:20px;
    margin-left:10px;
    border-radius: 30px 0 30px 0;
}
.form-control:focus{
    border: solid red;
    box-shadow:15px 15px 25px black;

}


#login{
    background:white;
    box-shadow:9px 9px 25px black;
    text-decoration:none;
    border:2px solid green;
    padding:5px 25px 5px 25px;
    font-size:15px;
    color:black;
    border-radius: 50px 0 50px 0;
}

#login:focus{
    border:2px solid red;
    box-shadow:9px 9px 25px black;
    box-shadow:15px 15px 25px black;

}

#box{
    background:white;
    border:2px #f35b3f;
    /*padding:55px;*/
    box-shadow:3px 3px 10px black;
    border-radius: 10px;
    /*width:50%;*/
    animation:exam 1s linear alternate;
}

@keyframes exam {
    100%{
        transform:translate3d(0px,0px,0px)
    }

    0%{

        transform:translate3d(-210px,0px,0px)
    }
}

/*label{*/
/*    box-shadow:5px 5px 10px black;*/
/*    background: black;*/
/*    color:white;*/
/*    padding:10px;*/
/*    border-radius: 10px;*/
/*    width:30%;*/
/*}*/

input[type=text], input[type=password]{
    outline:black;
}

/*Login In View End*/

/************************************************************************************************/

/* Navbar Start*/

.wrapper {
    display: block;
}

/***** Sidebar *****/

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -255px;
    z-index: 999;
    background: #333;
    color: #fff;
    transition: all .3s;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    text-align: left;
}

.sidebar.active {
    left: 0;
}

/***** Content *****/

.content {
    width: 100%;
    transition: all 0.3s;
}

/***** Dark overlay *****/

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(51, 51, 51, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

.open-menu {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 997;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

.open-menu.btn-customized,
.open-menu.btn-customized:hover,
.open-menu.btn-customized:active,
.open-menu.btn-customized:focus,
.open-menu.btn-customized:active:focus,
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

/* Style for all buttons with the class btn-customized */

a.btn-customized {
    margin-left: 5px;
    margin-right: 5px;
    padding: .75rem 1.5rem;
    background: #f35b3f;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
}

a.btn-customized:hover,
a.btn-customized:active,
a.btn-customized:focus,
a.btn-customized:active:focus,
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #cd533d; /* for browsers that don't recognize rgba */
    background: rgba(243, 91, 63, 0.7);
    border: 0;
    color: #fff;
    box-shadow: none;
}

/* close btn */

.dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all .3s;
    background: #444;
    border-radius: 4px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.dismiss:hover,
.dismiss:focus {
    background: #555;
    color: #fff;
}


/* logo */

.sidebar .logo {
    padding: 40px 20px;
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.sidebar .logo a {
    display: inline-block;
    width: 172px;
    height: 34px;
    background: left top no-repeat;
    border: 0;
    text-indent: -999999px;
}


/* menu links */
.sidebar ul.menu-elements {
    padding: 10px 0;
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    border: 0;
    color: #fff;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus {
    outline: 0;
    background: #555;
    color: #fff;
}

.sidebar ul li a i {
    margin-right: 5px;
}

.sidebar ul li.active > a,
a[aria-expanded="true"] {
    background: #444;
    color: #fff;
}

.sidebar ul ul a {
    background: #444;
    padding-left: 30px;
    font-size: 14px;
}

.sidebar ul ul li.active > a {
    background: #555;
}

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


/* to top btn */

.sidebar .to-top {
    padding: 20px;
    text-align: center;
}

a.btn-customized-3 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: .75rem 1.5rem;
    background: #444;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
}

a.btn-customized-3:hover,
a.btn-customized-3:active,
a.btn-customized-3:focus,
a.btn-customized-3:active:focus,
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #555;
    border: 0;
    color: #fff;
    box-shadow: none;
}

a.btn-customized-3 i {
    margin-right: 5px;
}


/* light/dark btn */


.sidebar .dark-light-buttons {
    padding: 10px 20px 30px 20px;
    text-align: center;
}

a.btn-customized-4 {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    padding: 0;
    background: #444;
    border: 0;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
    text-indent: -999999px;
}

a.btn-customized-4.btn-customized-dark {
    background: #222;
}

a.btn-customized-4.btn-customized-light {
    background: #fff;
}

a.btn-customized-4.btn-customized-dark:hover,
a.btn-customized-4.btn-customized-dark:active,
a.btn-customized-4.btn-customized-dark:focus,
a.btn-customized-4.btn-customized-dark:active:focus,
a.btn-customized-4.btn-customized-dark.active:focus,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #555;
    border: 0;
    color: #fff;
    box-shadow: none;
}

a.btn-customized-4.btn-customized-light:hover,
a.btn-customized-4.btn-customized-light:active,
a.btn-customized-4.btn-customized-light:focus,
a.btn-customized-4.btn-customized-light:active:focus,
a.btn-customized-4.btn-customized-light.active:focus,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #555;
    border: 0;
    color: #fff;
    box-shadow: none;
}

/* Navbar End */


/***************************** Home.js **********************************/

.home-content { width: 100%; padding: 60px 0 120px 0; }

.home-content h1 { padding-top: 60px; color: #000000; }

.home-content .description {
    margin: 30px 0 0 0;
    padding-bottom: 30px;
    font-size: 3rem;
}

/*.home-img {*/
/*    position: absolute;*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*    border: none;*/
/*    width: 1440px;*/
/*    height: 810px;*/
/*    max-height: none;*/
/*    max-width: none;*/
/*    z-index: -999999;*/
/*    left: 0px;*/
/*    top: -169px;*/
/*}*/

.home-img {
    background-image: url("../assets/blonde-1867768_1920.jpg");
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}


.mapboxgl-ctrl-geocoder--input{background-color: #444444;}
.mapboxgl-ctrl-geocoder--input::placeholder{color: #ffffff;}
.mapboxgl-ctrl-geocoder--input:focus {color: #ffffff;}

/****************************** TRIPTRACK ********************************/
/****************************** START FOOTER ********************************/

.animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #f96742; }

.animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #000000;
    border-right: 10px solid #000000;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px); }
    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px); } }

@keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px); }
    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px); } }

.animate-border.border-white:after {
    border-color: #fff; }

.animate-border.border-yellow:after {
    border-color: #F5B02E; }

.animate-border.border-orange:after {
    border-right-color: #007bff;
    border-left-color: #007bff; }

.animate-border.border-ash:after {
    border-right-color: #EEF0EF;
    border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
    border-right-color: #F7F9F8;
    border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
    0% {
        width: 15%; }
    50% {
        width: 90%; }
    100% {
        width: 10%; } }

@keyframes primary-long {
    0% {
        width: 80%; }
    50% {
        width: 0%; }
    100% {
        width: 80%; } }

.dk-footer-form button:hover {
    cursor: pointer; }

/* ==========================

    Contact

=============================*/

.copyright {
    padding: 28px 0;
    background-color: #202020; }
.copyright span,
.copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
.copyright a:hover {
    color:#007bff; }

.copyright-menu ul {
    text-align: right;
    margin: 0; }

.copyright-menu li {
    display: inline-block;
    padding-left: 20px; }

.back-to-top .btn-dark:hover {
    cursor: pointer;
    background: #FA6742;
    border-color: #FA6742; }

.btn-info {
    color: #000;
    background-color: #FA6742;
    border-color: #FA6742;
}

.btn-primary {
    color: #000000;
    background-color: #FA6742;
    border-color: #FA6742;
}
/* Credit to https://bootsnipp.com/snippets/ooa9M  */

/****************************** END FOOTER ********************************/


